<div class=" app-title">
    <div class="col-lg-12" style="
    margin-top: 26%;

">
        <a href="#/login" class="asset-caption-hover"><b class="green-text">Sample</b> Login</a>
    </div>
</div>
<div class="login-box">
    <div class="login-logo ">
        
    </div>
  
    <div class="login-box-body box-shadow cornered" id="div_login"style="background-color: rgba(193, 209, 196, 0.57);float:right; ">
       
        <p class="login-box-msg">Sign in to start your session</p>
        <div class="well well-sm" ng-show="showmessage">
            <p ng-class="{'message-des alert-message':messagetype=='error','message-des info-message':messagetype=='info'}">{{message}}</p>
        </div>
        <form class="form-signin" role="form" novalidate angular-validator name="userLoginForm" angular-validator-submit="login()">

            <div class="form-group has-feedback">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>

                <input type="text" id="inputUsername" name="inputUsername" class="form-control" ng-model="user.username" placeholder="Username"
                       validate-on="blur" required required-message="'Username is required'">
            </div>
            <div class="form-group has-feedback">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <input type="password" id="inputPassword" name="inputPassword" class="form-control" ng-model="user.password" placeholder="Password"
                       validate-on="blur" required required-message="'Password is required'">
            </div>
            <div class="row">
                <div class="col-xs-4 col-xs-offset-8">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
            </div>
        </form>
    </div>
</div>